<div class="sidebar-module sidebar-module-inset">
    <h4>Categories</h4>

    <ul>
        {% for category in categories %}
            <li><a href="{{ path(category.routeName, category.routeParameters) }}">{{ category.headline }}</a></li>
        {% endfor %}
    </ul>

</div>
